.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFAAE5;
}

.App-header {
  background-color: #FFAAE5;
  height: 2em;
  padding: .5em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
}

